*{
  margin: 0;
  padding: 0;
}


main{
  background-color: rgb(238, 238, 238);
}

nav{
  position: relative;
}

nav ul{
  display: inline-block;
  margin-left: 10%;
  height: 100%;
}

nav ul li{
  display: inline-block;
  height: 100%;
  padding: 1em;
}


.link{
  margin-left: 30px;
}

.active{
  background-color: rgb(36, 135, 168);
}

nav ul li a{
  color: white;
  text-decoration: none;
}

header{
  height: 15vh;
}

.total{
  position: absolute;
  right: 15%;
  padding-top: 10px;
  color: white;
  font-size: large;
}

.cart{
  margin-right: 20px;
  height: 2em;
  width: 2em;
}

.logo{
  height: 50%;
  background-color: rgb(238, 238, 238);
  position: relative;
}

header nav{
  height: 50%;
  background-color: rgb(0, 174, 255);
}

.grid-container .items-block img{
  width: 150px;
  
}

.logo h1{
  color: gray;
  margin-left: 10%;
}

.social-media-icon{
  height: 30px;
}

.social-media{
  position: absolute;
  right: 15%;
  top: 25%;
}

h1 .ds{
  color: rgb(0, 174, 255);
}

.plus{
  width: 100%;
  background-color: rgb(0, 174, 255);
  color: white;
  border: none;
  outline: none;
}

.plus:hover{
  background-color: rgb(36, 135, 168);
}

.plus:focus{
  outline: none;
}

.cena{
  color: rgb(2, 88, 2);
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "items-block items-block items-block shop-block" "items-block items-block items-block shop-block" "items-block items-block items-block shop-block";
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.items-block { grid-area: items-block; }

.shop-block { 
  grid-area: shop-block; 
}

.shop-block img{
  height: 40px;
}

.grid-container-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 40px;
  grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8" "img9 img10 img11 img12";
  padding-top: 5%;
}

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }

.img3 { grid-area: img3; }

.img4 { grid-area: img4; }

.img5 { grid-area: img5; }

.img6 { grid-area: img6; }

.img7 { grid-area: img7; }

.img8 { grid-area: img8; }

.img9 { grid-area: img9; }

.img10 { grid-area: img10; }

.img11 { grid-area: img11; }

.img12 { grid-area: img12; }

.shop-items{
  margin-left: 10%;
  padding: 5%;
  color: white;
}

.one-item{
  margin-bottom: 5%;
}

#shop-button{
  width: 100%;
  background-color: rgb(0, 187, 115);
  color: white;
  padding: 0.5em;
  border: none;
}

#shop-button:hover{
  background-color: rgb(1, 133, 82);
}

footer{
  height: 7vh;
  background-color: white;
  position: relative;
}

.img-zastava{
  height: 30px;
  border-radius: 20%;
  position: absolute;
  left: 10%;
  top: 20%;

}

.footer-txt{
  position: absolute;
  right: 10%;
  top: 20%;
}

.shop-items{
  background-color: gray;
}

