

.available-wrapper{
    background-color:rgb(167, 166, 166);
}

.form-wrapper{
    background-color: rgb(241, 240, 240);
    padding-top: 1em;
    padding-left: 20%;
    padding-right: 20%;
}

.list-wrapper{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.incomes-total{
    height: 3em;
    background-color: rgb(40, 185, 180);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expeses-total{
    height: 3em;
    background-color: rgb(255, 81, 74);
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    padding-top: 1em;
}

#balance{
    color: white;
    font-size: 2.3em;
}

.percentage-wrap{
    margin-left: 5px;
    /* padding: 5px; */
    background-color:rgb(255, 113, 107);
    border-radius: 10%;
    font-size: small;
}

.text-padding{
    padding: 5px;
}

.amount{
    color: white;
}

.percentage-per-expence{
    margin-left: 5px;
    padding: 5px;
    background-color:rgb(251, 217, 214);
    border-radius: 10%;
    font-size: small;
}

.income-blue{
    color: rgb(40, 185, 180);
}

.expense-red{
    color: rgb(255, 113, 107);
}

.btn-add{
    border: 1px solid rgb(255, 113, 107);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.fa-check{
    color: rgb(255, 113, 107);
}